<h1>Link to Robots</h1>

<body>

    <h2>Redirect to the NHRL Webpage</h2>
    
    <p>Check out 
        <a href= <%= "https://nhrl.io/wiki/index.php/" + robots['botname'] %> target="_blank" rel="noopener noreferrer">the Bot!</a>
    </p>

    
    </body>
